<fieldset class="form-group" data-field-nbr="{{ field_nbr }}">
	<label for="many_to_many_inversed_by">Inversed By (optional)</label>
	<input type="text" class="form-control" name="entity_field[{{ field_nbr }}][many_to_many_inversed_by]" id="many_to_many_inversed_by" />
</fieldset>