<fieldset class="form-group" data-field-nbr="{{ field_nbr }}">
	<label for="one_to_many_mapped_by">Mapped By</label>
	<input type="text" class="form-control" name="entity_field[{{ field_nbr }}][one_to_many_mapped_by]" id="one_to_many_mapped_by" required />
</fieldset>