body {
	visibility: hidden;
}

.form-group {
	margin:40px 0 !important;
}

label#show-file-input {
	cursor:pointer;
}

.duf-admin-upload-input-container {
	display:none;
	margin:35px 0;
}

.duf-admin-file-gallery {
	float:left;
	width:20%;
	height:380px;
	margin:2%;
	position:relative;
}

.duf-admin-file-gallery .image-container {
	float:left;
	width:100%;
	height:100%;
	background-size:100%;
	background-position:center;
	background-repeat: no-repeat;
}

.duf-admin-file-gallery .duf-admin-remove-file,
.duf-admin-file-gallery .duf-admin-select-file {
	font-size:25px;
	font-weight:bold;
	color:red;
	position:absolute;
	top:50%;
	left:50%;
	cursor:pointer;
}

.duf-admin-file-gallery .duf-admin-select-file {
	color:green;
	display:none;
}

.duf-admin-load-more {
	float:left;
	width:100%;
	margin:50px 0;
	text-align:center;
}

.duf-admin-file-infos {
	text-align:center;
	font-size:12px;
	display:inline-block;
	margin:20px 0;
	width:100%;
}

.duf-admin-file-infos a {
	cursor:pointer;
}

.duf-admin-modal {
	z-index:9999999999 !important;
	display:block !important;
}

#duf-admin-overlay {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.8);
	z-index:999999;
}

.duf-admin-modal.modal#select-file .modal-dialog {
	width:800px;
}

.duf-admin-modal.modal#select-file .modal-dialog .duf-admin-file-gallery {
	float:left;
    width:25%;
    height:215px;
    margin:2% 3% 8% 5%;
    position:relative;
}

.duf-admin-modal.modal#select-file .modal-dialog .box-body.duf-admin-file-list-container {
	background-color:white;
	z-index:888;
	float:left;
	max-height:400px;
	overflow:scroll;
}

.duf-admin-modal.modal#select-file .modal-dialog .box-body.duf-admin-file-list-container .duf-admin-remove-file,
.duf-admin-modal.modal#select-file .modal-dialog .box-body.duf-admin-file-list-container .duf-admin-file-infos a.duf-admin-render-modal {
	display:none;
}

.duf-admin-modal.modal#select-file .modal-dialog .box-body.duf-admin-file-list-container .duf-admin-file-gallery {
	cursor:pointer;
}

.duf-admin-modal.modal#select-file .modal-dialog .box-body.duf-admin-file-list-container .duf-admin-select-file:hover {
	display:block;
}

.duf-admin-modal.modal#select-file .modal-dialog .select-file-title {
	text-align:center;
	margin:20px 0;
}

.duf-admin-hidden-select {
	display:none;
}

.duf-admin-selected-files-container {
	width:100%;
	margin:30px 0;
}

.duf-admin-selected-files-container .duf-admin-file-preview .duf-admin-remove-selected-file {
	cursor:pointer;
}

.duf-admin-selected-files-container .duf-admin-file-preview .duf-admin-crop-selected-file {
	cursor:pointer;
}

.duf-admin-remove-selected-file .action:hover, .duf-admin-crop-selected-file .action:hover {
	font-weight:bold;
}

#fieldsets_container {
	float:left;
	width:100%;
}

#fieldsets_container .fieldset_item {
	float:left;
	width:45%;
	height:800px;
	margin:0 2.5%;
}

#fieldsets_container .fieldset_item .fieldset_checkbox_container {
	float:left;
	width:100%;
}

#fieldsets_container .fieldset_item .fieldset_checkbox_container fieldset {
	float:left;
	width:20%;
}

#fieldsets_container .fieldset_item .fieldset_options_container {
	float:left;
	width:100%;
}

#fieldsets_container .fieldset_item .form-group {
	margin-top:10px !important;
	margin-bottom:10px !important;
}

#fieldsets_container .fieldset_item .form-group.buttons {
	float:left;
	width:100%;
}

#fieldsets_container .fieldset_item .duf_admin_annotations_options {
	display:none;
	float:left;
	width:100%;
}

#fieldsets_container .fieldset_item .duf_admin_annotations_options .left {
	float:left;
	width:10%;
	margin-right:5%;
}

#fieldsets_container .fieldset_item .duf_admin_annotations_options .right {
	float:left;
	width:85%;
	margin:0;
}

#fieldsets_container .fieldset_item .duf_admin_annotations_options .form-group.form_field_placeholder_container {
	display:none;
}

.one_to_many_mapped_by_container, .many_to_many_inversed_by_container {
	float:left;
	width:100%;
}

.form-group.editable_relation_index, .form-group.editable_file_type {
	display:none;
}

.duf-admin-redmine-details {

}

.duf-admin-redmine-details dd {
	margin-bottom:20px;
}

.duf-admin-redmine-journal-container {
	margin:0 0 40px 0;
}

.duf-admin-redmine-journal-container .note {

}

.duf-admin-translate-textarea-container {
    border-style:solid;
    border-width:0 1px 1px 1px;
    border-color:#ddd;
    padding:15px;
}

.dropdown.user.user-menu {
	min-width:200px;
}

.duf-admin-flags-container img {
	float:left;
	margin-right:15px;
}

.uppercase {
	text-transform:uppercase;
}

.box-body.no-padding.reply-box label {
	display:none !important;
}

.message-item {
	margin:0 0 40px 0!important;
	padding:10px 0 !important;
	border-style:solid;
	border-width:0 0 1px 0;
	border-color:#ccc;
}

.table-striped>tbody>tr.active:nth-of-type(odd) {
	background-color:lightblue !important;
}

.table-striped > tbody > tr.active:nth-child(odd) > td, .table-striped > tbody > tr.active:nth-child(odd) > th {
	background-color:lightblue !important;
}

.table-striped>tbody>tr.active:nth-of-type(even) {
	background-color:lightblue !important;
}

.table-striped > tbody > tr.active:nth-child(even) > td, .table-striped > tbody > tr.active:nth-child(even) > th {
	background-color:lightblue !important;
}

.duf-messaging-save-draft {
	margin-bottom:20px !important;
}

textarea.no-editor {
	width:100%;
}

.create-first-category {
	display:none;
	margin-top:20px;
}

.table.gtreetable {
	margin-top:20px;
}

.table.gtreetable .gtree-arrow {
	float:right;
	margin:5px 5px;
	color:#ccc;
}

.table.gtreetable .gtree-arrow:hover {
	cursor:pointer;
	color:black;
}

.duf-admin-multiple-file-gallery {
	width:100%;
	margin:20px 0;
}

.duf-admin-file-preview.sortable {
	cursor:move;
}

.duf-admin-file-preview.sortable .thumbnail:hover {
	border-color:black;
}

.duf-admin-selected-files-container.multiple {
	display: inline-block;
}

.duf-admin-selected-files-container.multiple .duf-admin-file-preview {
/*	position:relative;
	display:block;
	float:left;
	margin:0 10px 0 0;
	width:22%;
	height:160px;
    border-style:dashed;
    border-width:1px;
    border-radius:10px;
    border-color:#ccc;
    padding:10px;*/
}

.duf-admin-selected-files-container .duf-admin-file-preview {
/*	position:relative;
	display:block;
	float:left;
	margin:0 10px 0 0;
	width:22%;
	height:160px;
    border-style:dashed;
    border-width:1px;
    border-radius:10px;
    border-color:#ccc;
    padding:10px;*/
}

.duf-admin-selected-files-container .thumbnail .caption h3 {
	word-wrap:break-word;
	font-size:0.9em;
}

.duf-admin-selected-files-container .thumbnail {
	position:relative;
	height:270px;
}

.duf-admin-selected-files-container .thumbnail img {
	height:150px;
}

.duf-admin-selected-files-container .thumbnail .duf-admin-file-edit-buttons {
	position:absolute;
	bottom:10px;
	left:10px;
	width:90%;
}

.duf-admin-selected-files-container .thumbnail .duf-admin-file-edit-buttons .duf-admin-remove-selected-file,
.duf-admin-selected-files-container .thumbnail .duf-admin-file-edit-buttons .duf-admin-crop-selected-file {
	display:inline-block;
}

#edit-image #image-to-crop {
	max-width:100%;
}

.crop-options {
	width:100%;
	margin:0 0 10px 0;
}

.cropped-image {
	larginmargin:10px 0 0 0;
}

.form-group.file-container {
	width:100%;
	display:inline-block;
}

.dataTables_filter {
	display:inline-block;
	width:100%;
	margin:1em 0;
}

.permission-list {
	list-style-type:none;
}

.permission-list li {
	float:left;
	width:100%;
	margin-bottom:15px;
}

.permission-list .action-name {

}

.permission-list .bootstrap-switch {
	float:right;
}

.tab-content.ecommerce .tab-pane {
	border-style:solid;
	border-width:0 1px 1px 1px;
	border-color:#ddd;
	padding:20px;
}

.ecommerce-territories-container {
	float:left;
	width:100%;
}

.ecommerce-territory {
	float:left;
	width:25%;
}

.ecommerce-territory input[type="checkbox"] {
	margin-right:5px;
}

.currencies-box-header {
	height:65px;
}

.currency-box {
	margin:10px 0;
}

.currency-box-bottom {
	width:100%;
	margin:10px 0;
}

.currencies-filter-container {
	margin:20px 0;
}

.currency-crud-box-container {
	width:100%;
	display:inline-block;
}

.crud-map-picker {
	width:100%;
	height:250px;
	margin-top:10px;
}

.store-md-6 {
	display:inline-block;
	width:45%;
	padding-right:2.5%;
	vertical-align:top;
}

.store-md-6 .form-group {
	margin-top:0 !important;
}

.select2-container--default, .select2-container--single {
	border-color:#555 !important;
}

.duf-ecommerce-address-box {
	
}

.categories-tree-crud {
	padding:0;
	list-style-type:none;
}

.categories-tree-crud .parent {
	padding:0;
}

.categories-tree-crud .children {
	padding-left:20px;
}

#store-products-list-ajax-container {
	margin-top:20px;
}

.posts-list {
	margin-top:30px;
}

.posts-list .post {
	border-style: solid;
	border-width: 1px;
	border-color: #cacaca;
	padding:10px;
	margin-left:2%;
	height:450px;
	position:relative;
}

.posts-list .post .list-inline {
	position:absolute;
	bottom:0;
	left:2%;
	width:98%;
}

.posts-list .post:last-of-type {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cacaca;
}

.posts-list .post .post-state .enable .visible,
.posts-list .post .post-state .disable .visible {
	display:block;
}

.posts-list .post .post-state .enable .hidden,
.posts-list .post .post-state .disable .hidden {
	display:none;
}

.posts-list .post .post-state .enable {
	color:green;
}

.posts-list .post .post-state .disable {
	color:red;
}

.no-more-posts {
	display:inline-block;
	width:100%;
    text-align: center;
    margin: 40px 0;
}

.day-picker-container {
	display: inline-block;
	width:100%;
	margin:0 0 30px 0;
}

.day-picker-container .day-picker-item {
	display: inline-block;
	width:19%;
}

.day-picker-container label,
.day-picker-container .day-picker-item h4 {
	width:100%;
}

.day-picker-container .day-picker-item h4 {
	font-size:1em;
}

.hour-picker-container {
	display: inline-block;
	width:100%;
	margin:0 0 30px 0;
}

.hour-picker-container .hour-picker-item {
	display: inline-block;
	width:12%;
}

.hour-picker-container label,
.hour-picker-container .hour-picker-item h4 {
	width:100%;
}

.hour-picker-container .hour-picker-item h4 {
	font-size:1em;
}

.minute-picker-container {
	display: inline-block;
	width:100%;
	margin:0 0 30px 0;
}

.minute-picker-container .minute-picker-item {
	display: inline-block;
	width:12%;
}

.minute-picker-container label,
.minute-picker-container .minute-picker-item h4 {
	width:100%;
}

.minute-picker-container .minute-picker-item h4 {
	font-size:1em;
}