<div class="mailbox-controls">
	<button type="button" class="btn btn-default btn-sm checkbox-toggle select-all-conversations" data-action="select">
		<i class="fa fa-square-o"></i>
	</button>

	<div class="btn-group">
		<button type="button" class="btn btn-default btn-sm delete-conversations" data-confirm-message="Delete conversation(s) ?">
			<i class="fa fa-trash-o"></i>
		</button>
		
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
		
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
	</div>

	<div class="pull-right">
		{% if conversations is defined and conversations | length > 0 %}1-50/200{% endif %}
		{% if drafts is defined and drafts | length > 0 %}1-50/200{% endif %}

		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm" {% if conversations is defined and conversations | length == 0 %}disabled{% endif %}>
				<i class="fa fa-chevron-left"></i>
			</button>

			<button type="button" class="btn btn-default btn-sm" {% if conversations is defined and conversations | length == 0 %}disabled{% endif %}>
				<i class="fa fa-chevron-right"></i>
			</button>
		</div>
	</div>
</div>